.brand {
    display: none;
    background-color: var(--color-main);
    color: var(--color-lighter);
    border-radius: 1.6rem;
    min-height: 100vh;
    border: .8rem solid var(--color-lighter);
}

.brand header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brand header h1 {
    font-size: 4rem;
    font-family: var(--font-monoton);
    line-height: 5.6rem;
}

.brand header p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.brand img {
    width: 100%;
    max-width: 32rem;
}

@media (min-width: 1024px) {
    .brand {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
