.page-title {
    color: var(--color-darker);
    margin: 1.2rem 0;
    font-size: 3.2rem;
    line-height: 3.2rem;
}

.page-title span {
    font-family: var(--font-monoton);
    color: var(--color-main);
}
