#links-screen section {
    display: flex;
    flex-direction: column;
}

#links-screen header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#links-screen > header button {
  padding: 0 1.6rem;
}

.link-item {
    display: flex;
    flex-direction: column;
    border: .1rem solid var(--color-light);
    border-radius: .4rem;
    padding: 1.2rem;
}

.link-item header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.link-item header > span {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: .8rem;
}

.link-item header > span span {
    color: var(--color-sub);
}

.link-item header aside {
    display: flex;
    gap: .4rem;
}

.link-item header aside button {
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: .4rem;
    background-color: var(--color-main);
    color: var(--color-lighter);
    cursor: pointer;
    transition: .3s;
  padding: 0 .8rem;
}

.link-item header aside button:hover {
    background-color: var(--color-sub);
}

.link-item > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link-item > div > span {
    font-size: .8rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: var(--color-dark);
}

.link-item footer {
    display: flex;
    align-items: center;
    color: var(--color-dark);
    gap: .4rem;
    border-top: .1rem solid var(--color-light);
    margin-top: 1.6rem;
    padding-top: 1.6rem;
}

.link-item footer span {
    font-size: .8rem;
}

.empty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin: 2.4rem 0;
}

.empty-item div {
    width: 80%;
    max-width: 240px;
}

.empty-item div img {
    width: 100%;
}

.empty-item p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: var(--color-dark);
    text-align: center;
    max-width: 320px;
}